body{
    background-color: rgba(231, 218, 218, 0.78);
}

.portada{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:250px;
    color: white;
    background-color: rgba(182, 0, 0, 0.78);
    position: relative;
    flex-wrap: wrap;
}


.fotoinicial{
    position: absolute;
    top:0;
    left:0;
    flex-wrap: wrap;
    width: 40%;
}

.busqueda{
    position:absolute;
    bottom:0;
    right:0;
    margin: 5px;
}

.fotoinicial img {
    position: relative;
    float: left;
    top:0;
    left:0;
    max-width: 70%;
    width:500px;
    height:250px;
    flex-wrap: wrap;
}

.titulo {
    position: relative;
    float: right;
    text-align: center;
    top:30%;
    right:35%;
    color: white;
}

.menu{
    width: 100%;
    height: 50px;
    background: rgba(182, 0, 0, 0.78);
}

.navegador{
    list-style: none;
}

.opcion{
    position: relative;
    display: inline-block;
    width: 14%;
    height: 50px;
    float: left;
}

.opcion a{
    display: block;
    width: 100%;
    height: inherit;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #FFF;
    white-space: nowrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.opcion a:hover{
    background-color: #333;
}

.opcion .submenu{
    position: absolute;
    display: none;
    width:max-content+0.5;
    padding-right: 10px;
    background-color: rgba(182, 0, 0, 0.78);
    float: inherit;
    text-align: center;
}

.opcion .submenu .opciones li{
    display: block;
    text-align: center;
    width: 100%;
}

nav .navegador .opcion:hover .submenu{
    display: block;
    text-align: center;
    z-index: 1;
}

.contenedor{

    list-style-type: none;
}

.subcontenedor{
    column-count: 1;
    height: 100%;
    width: 100%;
    display: inline-block;
    min-height: 230px;
}

.info{
    margin: 15px;
    background-color: lightgrey;
    padding: 0px;
    border-style:groove;
    min-height: 230px;
}
.info h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(225, 0, 0);
}

.info h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(225, 0, 0);
}

.info a img{
  position: relative;
  max-width: 40%;
  max-height: 192px;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 50%;
}

.info a:hover {
    text-decoration: underline;
}

.info .text{
    margin-left: 15px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 13em;
    line-height: 1.8em;
    position: relative;
}

.info img{
    position: relative;
    max-width: 40%;
    max-height: 192px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}


.pie{
    background-color: rgba(182, 0, 0, 0.78);
    position: static;
    bottom: 0;
    width: 100%;
}

.pie a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    width: 100%;
    height: inherit;
    font-size: 1.2em;
    text-decoration: solid;
    line-height: 50px;
    color: #FFF;
}

.masinfo{
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    display: block;
    text-decoration: solid;
    color: rgba(182, 0, 0, 0.78);
}

.opciones{
    position: absolute;
    display: none; /* Cambiar sólo este valor */
    width: 100%/7;
    background: red;
    float:inherit;
}

nav ul li:hover .opciones{
    display: inline-table;
}
