body{
    background-color: rgba(231, 218, 218, 0.78);
}

.portada{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:250px;
    color: white;
    background-color: rgba(182, 0, 0, 0.78);
    position: relative;
    flex-wrap: wrap;
}

.fotoinicial{
    position: absolute;
    top:0;
    left:0;
    flex-wrap: wrap;
    width: 40%;
}

.busqueda{
    position:absolute;
    bottom:0;
    right:0;
}

.fotoinicial img {
    position: relative;
    float: left;
    top:0;
    left:0;
    max-width: 70%;
    width:500px;
    height:250px;
    flex-wrap: wrap;

}

.search{
    flex-wrap: wrap;
}

.busqueda{
    font-size: large;
}

.titulo {
    position: absolute;
    float: right;
    text-align: center;
    top:30%;
    right: 15%;
    color: white;
    flex-wrap: wrap;
    min-width: 70%;
    font-size:larger;
}

.titulo {
    position: absolute;
    float: right;
    text-align: center;
    top:10%;
    right: 5%;
    color: white;
    flex-wrap: wrap;
    max-width: 30%;
    font-size:larger;
}

.menu{
    width: 100%;
    height: 50px;
    background: rgba(182, 0, 0, 0.78);
    margin: 0px;
    border:0px;
    display:block;
}

.navegador{
    list-style: none;
    display: flex;
}

.opcion{
    position: relative;
    display: inline-block;
    width: 12.8%;
    height: 50px;
    float: left;
    margin-right: 5px;
}

.opcion a{
    display: block;
    width: 100%;
    height: inherit;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #FFF;
    white-space: nowrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.opcion a:hover{
    background-color: #333;
}

.opcion .submenu{
    position: absolute;
    display: none;
    width: 100%;
    padding-right: 2px;
    padding-left: 0px;
    background-color: rgba(182, 0, 0, 0.78);
    left: 0%;
    text-align: left;
}

.opcion .submenu .opciones li{
    display: block;
    text-align: left;
    padding-right: 5px;
    width: 100%;
}

nav .navegador .opcion:hover .submenu{
    display: block;
    text-align: left;
    z-index: 1;
}


.contenedor{

    list-style-type: none;
}

.subcontenedor{
    display: inline-block;
    column-count: 1;
    height: 100%;
}

.info{
    margin: 15px;
    background-color: lightgrey;
    float: left;
    padding: 0px;
    border-style:groove;
}
.info h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.info h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(225, 0, 0);
}

.info a {
    position: relative;
    text-decoration: none;
    color: rgb(225, 0, 0);
}

.info a:hover {
    text-decoration: underline;
}

.info p{
    margin-right: 25px;
    margin-left: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 13em;
    line-height: 1.8em;
    position: relative;
    display: block;
}

.info img{
    position: relative;
    max-width: 40%;
    max-height: 192px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.enlUR, .enlUR2{
  position: relative;
  text-decoration: none;
  color: rgb(225, 0, 0);
}

.enlUR:hover, enlUR2:hover {
    text-decoration: underline;
}

h3, h4{
  font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
  border: 1px solid;
  color: rgb(225, 0, 0);
}

.pie{
    background-color: rgba(182, 0, 0, 0.78);
}

.pie a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    width: 100%;
    height: inherit;
    font-size: 1.2em;
    text-decoration: solid;
    line-height: 50px;
    color: #FFF;
}

.masinfo{
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    display: block;
    text-decoration: solid;
    color: rgba(182, 0, 0, 0.78);
}

.opciones{
    position: absolute;
    display: none; /* Cambiar sólo este valor */
    width: 100%/7;
    background: red;
    float:inherit;
}

nav ul li:hover .opciones{
    display: inline-table;
}
