.portada{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:250px;
    color: white;
    background-color: rgba(255, 0, 0, 0.78);
    position: relative;
}

.fotoinicial{
    position: relative;
    top:0;
    left:0;
}

.fotoinicial img {
    position: relative;
    float: left;
    top:0;
    left:0;
    max-width: 30%;
    width:500px;
    height:250px;
}

.titulo {
    position: relative;
    float: right;
    text-align: center;
    top: 30%;
    right: 25%;
    max-width: 35%;
}

.menu{
    width: 100%;
    height: 50px;
    background-color:  rgba(255, 0, 0, 0.78);
}

nav ul{
    list-style:none;
}

nav ul li{
    position: relative;
    display: inline-block;
    width: 100%/7;
    height: 30px;
}

nav ul a{
    display: block;
    width: 100%;
    height: inherit;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #FFF;
}

nav ul a:hover{
    background: #333;
}

.opciones{
    position: absolute;
    display: block;
    width: 100%;
    background: red;
    float:inherit;
}

.opciones ul li{
    display: block;
    width: 100%;
}

.opciones{
    position: absolute;
    display: none; /* Cambiar sólo este valor */
    width: 100%/7;
    background: red;
    float:inherit;
}

nav ul li:hover .opciones{
    display: inline-table;
}

